*{
    padding: 0px;
    margin: 0px;
}
ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.navbar-nav li a:hover:not(.active) {
    background-color: indigo;
    color: white;
}
ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    background-color: silver;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

li a:hover {
    color: yellow;
    background-color: red;
}

#footer{
    padding-bottom: auto;
    color: red;
    text-align: center;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Times New Roman";
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}
